<app-navbar></app-navbar>
<div class="col fs-5 lh-lg p-5">
    <h1 class="text-center py-5">Asesorías</h1>
</div>

<div class="wrapper text-center py-2 row">
    <img src="./../../assets/images/foto-pasillo.png" class="profile" alt="">
</div>

<div class="p-3">
    <h3 class="justify py-3">A veces no hay un cuerpo que curar, sino una mente por limpiar, una culpa por sanar, un
        recuerdo por aceptar, y siempre! Hay una historia que agradecer…

    </h3>
    <h3 class="justify py-3">
        Tumission ofrece mentoria de manera personal o virtual en temas de ansiedad, depresión, autoestima, estrés y
        adicciones entre otros.
    </h3>
</div>

<div>
    <h3 class="justify p-3">
        Contáctanos y te ayudamos a encontrar el programa que mejór se ajuste a tus necesidades
    </h3>
    <div class="text-center py-3">
        <button type="button" class="btn button-bg text-start" routerLink="/contact">
            <h5>Contáctanos</h5>
        </button>
    </div>
</div>