.navbar{
    /*background-color: white;*/
}

.navbar-toggler{
    color: white;
    border: #3a84ac;
    background: #3a84ac;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3550a0, #3a84ac, #83ccf1, #7ac14e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3550a0, #3a84ac, #83ccf1, #7ac14e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}