<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active text-center" data-bs-interval="">

      <!--<iframe class="videoBanner" src="https://www.youtube.com/embed/8HylZFtzfVk?si=Xng3ArOdEdRANZbl&amp;playlist=8HylZFtzfVk&controls=1&autoplay=1&loop=1&mute=1&rel=0&fs=0" ></iframe>
      <iframe class="videoBanner" src="https://youtube.com/embed/-ukw1ijvmTc?si=fejxemGiAtIygaSI&amp;playlist=-ukw1ijvmTc&controls=1&autoplay=1&loop=1&mute=1&rel=0&fs=0"></iframe>-->


      <div class="iframe-wrapper horizontal ">
        <!-- Horizontal iframe -->
        <iframe class="responsive-iframe "
          src="https://www.youtube.com/embed/8HylZFtzfVk?si=Xng3ArOdEdRANZbl&amp;playlist=8HylZFtzfVk&controls=1&autoplay=1&loop=1&mute=1&rel=0&fs=0"></iframe>
      </div>

      <div class="iframe-wrapper vertical">
        <!-- Vertical iframe -->
        <iframe class="responsive-iframe "
          src="https://youtube.com/embed/-ukw1ijvmTc?si=fejxemGiAtIygaSI&amp;playlist=-ukw1ijvmTc&controls=1&autoplay=1&loop=1&mute=1&rel=0&fs=0"></iframe>
      </div>


      <div class="embed-responsive embed-responsive-16by9">
        <div class="carousel-caption">
          <div class="col">
            <div class="row">
              <h1 class="col"><img id="logo-banner" src="{{logoBanner}}" alt="" srcset="">Tumission</h1>
            </div>
            <div>
              <h3>Educación Emocional para la Transformación Personal, Familiar y Empresarial.</h3>
            </div>
          </div>
          <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<app-navbar class="navbar-home"></app-navbar>