<app-navbar></app-navbar>
<div class="col fs-5 lh-lg p-5">
    <h1 class="text-center py-5">Cómo Llevar Mi Negocio al Éxito</h1>
</div>


<div class="wrapper text-center py-2 row">
    <img src="https://images.unsplash.com/photo-1642010654727-56755234ae72?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="profile" alt="">
</div>

<div class="p-3">
    <h3 class="justify py-3">Con este entrenamiento aprenderás a identificar las debilidades técnicas y humanas. Sabrás
        como implementar procesos de organización, control, productividad y calidad para garantizar resultados óptimos.
    </h3>
    <h3 class="justify py-3">
        Desarrollaras habilidades para manejar el estrés y estimular la motivación, el talento y las capacidades de
        todos los colaboradores de tu negocio.
    </h3>
    <div class="justify py-3">
        <h3>
            Alcance:
        </h3>
        <h3>
            Incrementar el sentido de pertenencia en los colaboradores, establecer la preferencia en los clientes por el
            producto. Construir un ambiente laboral sano y propicio para trabajar con entusiasmo. Incrementar las ventas
            y convertirlo en un negocio rentable.
        </h3>
    </div>
</div>




<div>
    <h3 class="justify p-3">
        Contáctanos y te ayudamos a encontrar el programa que mejór se ajuste a tus necesidades
    </h3>
    <div class="text-center py-3">
        <button type="button" class="btn button-bg text-start" routerLink="/contact">
            <h5>Contáctanos</h5>
        </button>
    </div>
</div>