
    <app-navbar></app-navbar>
    <div class="col fs-5 lh-lg text-center p-5">
        <h1>Mission</h1>
    </div>

    <div class="wrapper text-center row">
        <img src="https://images.unsplash.com/photo-1476304884326-cd2c88572c5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" class="profile p-5" alt="">
    </div>

    <div class="justify p-5">
        <h3>
            Promovemos la educación emocional como aspecto esencial en la transformación de la sociedad y el mejoramiento del entorno personal, familiar y profesional de cada persona, ayudando a que desarrollen habilidades para el manejo adecuado de sus emociones, y puedan enfrentar con éxito los desafíos del diario vivir, disfrutando de salud, felicidad, tranquilidad y prosperidad.
        </h3>
    </div>
