<div>
    <app-navbar></app-navbar>
    <div class="col fs-5 lh-lg text-center p-5">
        <h1>Nuestros Programas</h1>
    </div>
</div>

<div class="wrapper text-center py-3 color-bg-1">
    <img src="https://images.unsplash.com/photo-1502082553048-f009c37129b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        class="d-block w-100 px-5" alt="">
    <div class="box box-text px-5">
        <h2 class="subtitle p-4">Medicina Emocional</h2>
        <div class="py-5">
            <button type="button" class="btn button-bg text-start" routerLink="/medicine">
                <h5>Más Información</h5>
            </button>
        </div>
    </div>
</div>
<div class="wrapper text-center py-3 color-bg-2">
    <img src="https://images.unsplash.com/photo-1610070835951-156b6921281d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        class="d-block w-100 px-5" alt="">
    <div class="box box-text px-5">
        <h2 class="subtitle p-4">Resolución de Conflictos en la Familia y el Trabajo</h2>
        <div class="py-5">
            <button type="button" class="btn button-bg text-start" routerLink="/resolution">
                <h5>Conoce Más</h5>
            </button>
        </div>
    </div>
</div>
<div class="wrapper text-center py-3 color-bg-1">
    <img src="https://images.unsplash.com/photo-1529180979161-06b8b6d6f2be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
        class="d-block w-100 px-5" alt="">
    <div class="box box-text px-5">
        <h2 class="subtitle p-4">Construyendo Padres para Educar con Éxito</h2>
        <div class="py-5">
            <button type="button" class="btn button-bg text-start" routerLink="/parents">
                <h5>Descubre Más</h5>
            </button>
        </div>
    </div>
</div>
<div class="wrapper text-center py-3 color-bg-2">
    <img src="https://images.unsplash.com/photo-1519733870-f96bef9bc85f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
        class="d-block w-100 px-5" alt="">
    <div class="box box-text px-5">
        <h2 class="subtitle p-4">Encontrar mi Proyecto de Vida con Propósito</h2>
        <div class="py-5">
            <button type="button" class="btn button-bg text-start" routerLink="/project">
                <h5>Comienza Ya</h5>
            </button>
        </div>
    </div>
</div>
<div class="wrapper text-center py-3 color-bg-1">
    <img src="https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        class="d-block w-100 px-5" alt="">
    <div class="box box-text px-5">
        <h2 class="subtitle p-4">Cómo Llevar Mi Negocio al Éxito</h2>
        <div class="py-5">
            <button type="button" class="btn button-bg text-start" routerLink="/success">
                <h5>Adelante</h5>
            </button>
        </div>
    </div>
</div>
<div class="wrapper text-center py-3 color-bg-2">
    <img src="https://images.unsplash.com/photo-1565688534245-05d6b5be184a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="d-block w-100 px-5" alt="">
    <div class="box box-text px-5">
        <h2 class="subtitle p-4">Asesorías</h2>
        <div class="py-5">
            <button type="button" class="btn button-bg text-start" routerLink="/coaching">
                <h5>El Cambio es Ahora</h5>
            </button>
        </div>
    </div>
</div>