<app-navbar></app-navbar>
<div class="col fs-5 lh-lg p-5">
    <h1 class="text-center py-5">Encontrar mi Proyecto de Vida con Propósito</h1>
</div>

<div class="wrapper text-center py-2 row">
    <img src="https://images.unsplash.com/photo-1519733949-b7dfe6268abe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
        class="profile" alt="">
</div>

<div class="p-3">
    <h3 class="justify py-3">Al participar en este taller fortalecerás la autoconfianza, la autoestima y descubrirás
        tus talentos. Reconocerás y aceptaras tu potencial. Aprenderás a planear y determinar tus objetivos y
        posteriormente, los convertirás en realidad.
    </h3>
    <div class="justify py-3">
        <h3>
            Alcance:
        </h3>
        <h3>
            Disfrutaras más de tiempo libre y trabajaras haciendo lo que te gusta. Lograras vivir en plenitud y
            prosperidad.
        </h3>
    </div>
</div>

<div>
    <h3 class="justify p-3">
        Contáctanos y te ayudamos a encontrar el programa que mejór se ajuste a tus necesidades
    </h3>
    <div class="text-center py-3">
        <button type="button" class="btn button-bg text-start" routerLink="/contact">
            <h5>Contáctanos</h5>
        </button>
    </div>
</div>