<app-navbar></app-navbar>
<div id="top" class="col fs-5 lh-lg p-5">
    <h1 class="text-center py-5">Medicina Emocional</h1>
</div>
<div class="wrapper text-center py-2 row">
    <img src="https://images.unsplash.com/photo-1467647160393-708009aefd5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="profile" alt="">
</div>
<div class="p-3">
    <h3 class="justify py-3"> Este entrenamiento te brindara técnicas y conocimientos para descubrir habilidades que
        te ayuden en el manejo
        apropiado de pensamientos, emociones, sentimientos y actitudes. Logrando una conexión entre la mente, el
        cuerpo
        y el alma, haciendo que fortalezcas tu salud mediante la prevención, el alivio y hasta la curación de las
        enfermedades.
    </h3>
    <h3 class="justify py-3">
        Aprenderás a mantener una actitud tranquila, la cual te ayudará a vivir intensamente el momento presente, en
        el
        aquí y el ahora, dejando de lado las preocupaciones por el futuro, o las desilusiones por los momentos
        difíciles
        vividos en el pasado.
    </h3>
    <div class="justify py-3">
        <h3>
            Alcance:
        </h3>
        <h3>
            Disfrutaras más de la vida, serás más feliz, lograras la paz interior, y encontraras la armonía en tus
            relaciones personales y familiares. Experimentaras la salud, la abundancia y la alegría.
        </h3>
    </div>
</div>
<div>
    <h3 class="justify p-3">
        Contáctanos y te ayudamos a encontrar el programa que mejór se ajuste a tus necesidades
    </h3>
    <div class="text-center py-3">
        <button type="button" class="btn button-bg text-start" routerLink="/contact">
            <h5>Contáctanos</h5>
        </button>
    </div>
</div>